@use 'variables' as var;

@mixin flexy($flexDir: row) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: $flexDir;

}

html {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.App {
    margin: 0;
    padding: 5%;
    color: ivory;
    text-align: center;
    font-family: var.$main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
}

.navbar {
    @include flexy(column);
    background-color: var.$primary-color;
    opacity: 75%;
    height: 100%;
    padding: 10px;
    position: fixed;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: var.$third-color;
            font-size: 1.03em;
        }
    }
}


.gridbar {
    display: grid;
    width: 70%;
    grid-auto-columns: 1fr;
    row-gap: 20px;
    list-style: none;
    border: 2px solid #1d2731;
    border-radius: 10px;
    padding: 10px;
}

.gridbaritem {
    display: flex;
    justify-content: space-between;
    background-color: var.$secondary-color;
    border-radius: 10px;
    padding: 5px;
}

.colorspan {
    background-color: var.$third-color;
    color: var.$primary-color;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.grid-item {
    border: 2px solid var.$secondary-color;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    padding: 10px;
}

img {
    border-radius: 10px;
    box-shadow: 0px 0px 60px var.$secondary-color;
    -webkit-appearance: none;


    &:hover {
        box-shadow: 0px 0px 60px var.$third-color;
    }

}

h1 {
    color: var.$third-color;
}