@use '../../styles/variables' as var;

header {
    margin-left: -5%;
    margin-top: -5%;
}


.hamburger {
    position: fixed;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1%;

}