@use '../../styles/variables' as var;
@import '../../styles/App.scss';


header {
    margin-left: -5%;
    margin-top: -5%;

    .socialIcons {
        @include flexy(column);

        height: 20%;
    }
}


.hamburger {
    position: fixed;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1%;
    color: var.$primary-color;

    &:hover {
        background-color: var.$secondary-color;
        color: var.$third-color;
    }

    .line1,
    .line2,
    .line3 {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;

        &:hover {
            background-color: var.$third-color;
        }
    }
}


.change {
    .line1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .line2 {
        opacity: 0;
    }

    .line3 {
        transform: translate(0, -11px) rotate(45deg);
    }
}