
.App {
  margin: 0;
  width: 100vw;
  height: auto;
  text-align: center;
}

.flexybox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.navbar {
  background-color: navy;
  height: 30px;
  padding: 10px;
  position: fixed;
}

.mainpage {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 20px;
  justify-items: center;
}

.gridbar {
  display: grid;
  width: 70%;
  margin-left: 10%;
  grid-auto-columns: 1fr;
  row-gap: 20px;
  list-style: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.gridbaritem {
  display: flex;
  justify-content: space-between;
  background-color: lightgreen;
  border-radius: 10px;
  padding: 5px;
}

.grid-item {
  border: 2px solid green;
  width: 150px;
  padding: 10px;
}

.navbarText {
  color: white;
}

.navbarText:hover {
  color: greenyellow;
  font-size: 1.03em;
}

.removeUnderline {
  text-decoration: none;
}

.squashSides {
  padding-left: 10%;
  padding-right: 10%;
}
