
.App {
  margin: 0;
  width: 100vw;
  height: auto;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.flexybox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.navbar {
  background-color: navy;
  padding: 10px;
  position: fixed;
}

.mainpage {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 20px;
  justify-items: center;
}

.grid-item {
  border: 2px solid green;
  width: 100px;
  padding: 10px;
}

.navbarText {
  color: white;
}

.removeUnderline {
  text-decoration: none;
}

.imageSpin {
  animation: App-logo-spin 10s infinite;
}

.squashSides {
  padding-left: 10%;
  padding-right: 10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
